<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2><%= @dog.name%></h2>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @dog.photo.url %>); background-size: 100%;height: 200px;">
      </div>
      <p><%= @dog.breed.name%>, <%= @dog.birthdate%></p>
    </div>
    <div class="col-lg-4">
      <h2>Description</h2>
      <%= @dog.description%>
      <h2>Personality</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
    <div class="row row-bg">
    <%= simple_form_for [@dog, @request] do |f| %>
        <div class="col-lg-5">
            <%= f.input :start_datetime %>
        </div>
        <div class="col-lg-5">
            <%= f.input :end_datetime %>
        </div>
            <%= f.input :dog_id, as: :hidden, input_html: {value: @dog.id} %>
            <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
        <div class="col-lg-2">
            <%= f.button :submit, "Book", input_html: { class: 'btn btn-primary' } %>
        </div>
    <% end %>
    </div>
  </div>
</div>


