<div class="container container-dog">
  <div class="row">
    <div class="col-lg-4">
      <h2><%= @dog.name%></h2>
      <div class="card" style="background-image: url(<%= @dog.photo.url %>); background-size: 100%;height: 200px;">
      </div>
      <% age = (Date.today - Date.new(@dog.birthdate.year, @dog.birthdate.month, @dog.birthdate.day)).to_i / 360 %>
      <p><%= @dog.breed.name%>, <%= age %> years old.</p>

    </div>
    <div class="col-lg-4">
      <h2>Description</h2>
      <%= @dog.description%>
      <h2>Personality</h2>
    </div>
  </div>
</div>
<div class="container-grey">
      <%= simple_form_for [@dog, @request] do |f| %>
        <div class="container container-btn">
          <div class="row text-center wrapper-request">
            <div class="col-xs-12 col-lg-4 padded-top">
              <%= f.input :start_datetime, label: false %>
            </div>
            <div class="col-xs-12 col-lg-1 padded-top">
              <p> to </p>
            </div>
            <div class="col-xs-12 col-lg-4 padded-top">
              <%= f.input :end_datetime, label: false %>
            </div>
              <%= f.input :dog_id, as: :hidden, input_html: {value: @dog.id} %>
              <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
            <div class="col-xs-12 col-lg-3 padded-top-btn">
              <%= f.button :submit, "Book a walk with #{@dog.name}", class: 'btn-book' %>
            </div>
      <% end %>
        </div>
      </div>
</div>
