<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-3">
      <% woof = @dog.photo || cl_image_tag("hfliyyis9gmunhsliurd.png") %>
      <%= cl_image_tag woof, height: 120, width: 200, crop: :fill %>

      <%= simple_form_for @dog, :url => pages_dog_photo_path(@dog, :id => @dog.id), :method => :post do |f| %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, "Update photo" %>
      <% end %>
    </div>
    <div class="col-xs-12 col-lg-9">
      <%= simple_form_for @dog, :url => pages_dog_info_path(@dog, :id => @dog.id), :method => :post do |f| %>
        <%= f.input :name %>
        <%= f.input :breed_id, collection: Breed.all %>
        <%= f.input :description %>
        <%= f.input :birthdate %>
        <%= f.button :submit, "Update info" %>
      <% end %>
    </div>
  </div>
</div>
