<%= render 'shared/nav_bar_dog' %>
<div class="row">
  <div class="col-xs-12 col-lg-9">
    <%= simple_form_for @user.address, :url => pages_address_path, :method => :post do |f| %>
      <%= f.input :street %>
      <%= f.input :city %>
      <%= f.input :country %>
      <%= f.button :submit, "Update address" %>
    <% end %>
  </div>
</div>
